/*own code*/
:root{
    /* VARIABLES --> can be used like var(--bg)*/
    --bg: #fff;
    --text:  #000;
}

.bgimg{
    background-image: url("/pictures/placeholder/placeholder-concept-illustration_839035-598189.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    min-height: 100svh;
    width: 100%;

    display:flex;
    align-items: center;
    justify-content: center;

    text-align: center;
}

.hero{
    max-width: 80ch;
}

main {
  max-width: 1200px;
  margin: 0 auto; /* zentriert in der Mitte */
}

/* PROJECT GALLERY */
.project { margin: 2rem 0; }
.project img { display:block; width:100%; height:auto; }
.project details { margin-top: .5rem; }
.project summary { cursor: pointer; }


/*missing Styles:
.portfolio (all projects etc)
.project (each own project section)
.project-header (name and meta info of each project)
.content
*/

